.textAngularPlace{
  width: 100%;
}

.previewDesign
{
  position: relative;
  margin-top: 95px;
  margin-left: 20px;
  word-wrap:break-word;
  overflow-y:auto;
  overflow-x: hidden;
  width: 258px;
  height: 400px ;
}

.smartphonePicDesign
{
  position: absolute;
  width: 300px;
  height: 600px ;
}

.videoExplainDesign
{
  display:inline;
  text-align-y: center;
  float:left;
}

.dropdownDesign
{
  width: 100%;
}

img
{
  max-width:100%;
}