<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="pageDetails/pageDetails.css">


<h1>Page details (french)</h1>

<text-angular id="text" ng-model="pdc.page.frenchContent" ng-change="pdc.modified()" ></text-angular>

<hr>
<br>
<div class="videoExplainDesign">
  <p><i class="fa fa-video-camera" aria-hidden="true"></i>  Video Selector <i class="fa fa-video-camera" aria-hidden="true"></i></p>
  <br/>

    <select class="dropdownDesign" id="selectVid">
      <option disabled >Name of the video</option>
      <option value="vid1" >vid1</option>
      <option value="vid2" >vid2</option>
      <option value="vid3" >vid3</option>
    </select>

</div>

<div class="row">

  <div class="col-lg-3 pull-right">
    <button class="btn btn-primary form-control col-lg-3"
            id="clickSave" disabled
            ng-click="pdc.saveText()">No change
    </button>
  </div>
</div>

<hr>

<br>
<!-- preview -->
<img src="img/smartphone.png" class="smartphonePicDesign"/>
<div ta-bind="text" ng-model="pdc.page.frenchContent" class="previewDesign" ta-readonly='disabled'></div>



<!-- wrapper for uploading images -->
<input type="file" id="fileWrapper" style="visibility: hidden"
       accept="image/png, image/gif, image/jpeg, image/jpg">

