<md-toolbar flex class="fixed-header">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <md-button class="md-icon-button md-primary" aria-label="Home" onclick="window.location='#/main';">
            <ng-md-icon icon="home"></ng-md-icon>
        </md-button>
        <p>{{ article.title }}</p>
        <div style="width: 40px; height: 40px;">
            <md-menu md-offset="0 -7">
                <md-button aria-label="Select language" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    {{ article.language.substr(0, 2).toUpperCase() }}
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="article.changeLanguage('french')"><span
                                md-menu-align-target="">French</span></md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="article.changeLanguage('italian')"><span
                                md-menu-align-target="">Italian</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>

<div class="content text-align-center">
    <md-card>
        <md-card-content id="{{article.id}}" class="text">
            <div layout="column" layout-align="center center" flex>
                <div ng-bind-html="article.content"></div>
            </div>

        </md-card-content>
    </md-card>
</div>
