.imgDesign
{
    width:12em;
    height:12em;
    margin-top: 2em;
}

@media only screen and (max-width: 650px) {
    .imgDesign
    {
        width:5em;
        height:5em;
        margin-top: 2em;
    }
}


@media only screen and (max-width: 1200px) {
    .imgDesign
    {
        width:15em;
        height:15em;
        margin-top: 2em;
    }
}


@media only screen and (max-width: 992px) {
    .imgDesign
    {
        width:8em;
        height:8em;
        margin-top: 2em;
    }
}

@media only screen and (max-width: 626px) {
    .imgDesign
    {
        width:5em;
        height:5em;
        margin-top: 2em;
    }
    h4
    {
        font-size:medium;
        margin-top: 2em;
        margin-left: 5em;
        display:inline-block;
    }
}
@media only screen and (max-width: 542px) {
    .imgDesign
    {
        width:5em;
        height:5em;
        margin-top: 2em;
    }
    h4
    {
        font-size:x-small;
        margin-top: 2em;
        margin-left: 5em;
        display:inline-block;
    }
}


h4
{
    margin-top: 2em;
    margin-left: 5em;
    font-size: x-large;
    display:inline-block;
}


