<link rel="stylesheet" type="text/css" href="choiceType/choiceType.css">

<h4>Text</h4>
<a href="#/textManager"><img class="imgDesign" src="img/textModify.png"/> </a>

<h4>Picture</h4>
<a href="#/picsManager"><img class="imgDesign" src="img/picsModify.png"/> </a>

<h4>Video</h4>
<a href="#/vidsManager"><img class="imgDesign" src="img/vidsModify.png"/> </a>
