<md-toolbar flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <div style="width: 40px; height: 40px;"></div>
    <p>{{ main.title }}</p>
    <div style="width: 40px; height: 40px;">
        <md-menu md-offset="0 -7">
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            {{ main.language.substr(0, 2).toUpperCase() }}
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="main.changeLanguage('french')"> <span md-menu-align-target="">French</span> </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="main.changeLanguage('italian')"> <span md-menu-align-target="">Italian</span> </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </div>
  </div>
</md-toolbar>

<div ng-cloak layout-gt-sm="row" layout="column">
    <div flex-gt-sm="50" flex>
        <md-content>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="page in main.pages" ng-click="main.goToArticle(page.id);">
                    <div class="md-list-item-text" layout="column">
                        <p>{{page[main.language + 'Name']}}</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
