h4
{
    margin-top:4em;
    margin-bottom: 1em;
}

#italianInsertTextDesign
{
    width: 100%;
    height: 10em;
}

#frenchInsertTextDesign
{
    width: 100%;
    height: 10em;
}

@media only screen and (max-width: 650px) {

    #italianInsertTextDesign
    {
        width: 100%;
        height: 4em;
    }

    #frenchInsertTextDesign
    {
        width: 100%;
        height: 4em;
    }
}

#btnValidation
{
    margin-top:2em;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 5em;
    height: 5em;
    float:right;
}