<link rel="stylesheet" type="text/css" href="textManager/textManager.css">

<h4>Texte en français</h4>
<textarea id="frenchInsertTextDesign" ng-model="tmc.article.contentFrench" placeholder="Texte"/>

<h4>Texto in italiano</h4>
<textarea id="italianInsertTextDesign" ng-model="tmc.article.contentItalian" placeholder="Texto"/>

<button id="btnValidation" ng-click="tmc.add()" href="#/pageDetails">Ok</button>
<p id="errorLabel" class="text-warning"></p>