.imgDesign
{
    width:3em;
    height:3em;
}


.imgLock
{
    width:1.5em;
    height:1.5em;
    margin-left:5px;
}

#allTabDesign
{
    width:70%;
    margin-top:2em;
    margin-bottom: 2em;
}

#txtDesign
{
    font-size: x-large;
}

#trDesign
{
    height:5em;
}

#divInputDesign
{
    width: 70%;
}

#inputDesign {
    width: 35%;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

#inputDesignIt
{
    margin-bottom: 1em;
    width: 35%;
}

@media only screen and (max-width: 650px) {
    #inputDesign {
        width: 100%;
        margin-bottom: 1em;
        margin-top: 2em;
    }

    #inputDesignIt
    {
        margin-bottom: 1em;
        width: 100%;
    }

    #allTabDesign
    {
        width:100%;
        margin-top:2em;
        margin-bottom: 2em;
    }


}

.inputTextDesign
{
    width: 40%;
}


